@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}
/* line 33, ../sass/_dpl.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 37, ../sass/_dpl.scss */
body {
  -webkit-overflow-scrolling: touch;
  min-width: 1024px;
  background: #fff;
}

/*雪碧图的依赖模块*/
/*合并之后的间隔*/
/*添加宽高*/
/*合并之后的间隔*/
/*添加宽高*/
/* line 176, icons/*.png */
.icons-sprite, .icons-1, .icons-aboutUs, .icons-blue, .icons-copyright, .icons-corss, .icons-cross, .icons-cross1, .icons-cross2, .icons-cross3, .icons-cross4, .icons-depart-info-title-bg, .icons-fire, .icons-heart, .icons-home, .icons-legal, .icons-mailbox, .icons-search {
  background-image: url('http://p1icwc5x5.bkt.clouddn.com/icons-s42a0382451.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-1 {
  background-position: 0 0;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-aboutUs {
  background-position: 0 -30px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blue {
  background-position: 0 -60px;
  height: 73px;
  width: 58px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-copyright {
  background-position: 0 -143px;
  height: 24px;
  width: 20px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-corss {
  background-position: 0 -177px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cross {
  background-position: 0 -203px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cross1 {
  background-position: 0 -229px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cross2 {
  background-position: 0 -255px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cross3 {
  background-position: 0 -281px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cross4 {
  background-position: 0 -307px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-depart-info-title-bg {
  background-position: 0 -333px;
  height: 20px;
  width: 85px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fire {
  background-position: 0 -363px;
  height: 15px;
  width: 14px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-heart {
  background-position: 0 -388px;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: 0 -430px;
  height: 15px;
  width: 17px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-legal {
  background-position: 0 -455px;
  height: 22px;
  width: 24px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mailbox {
  background-position: 0 -487px;
  height: 16px;
  width: 21px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -513px;
  height: 28px;
  width: 30px;
}

/* line 1, ../sass/dpl/_text.scss */
h1 {
  font-size: 30px;
}

/* line 4, ../sass/dpl/_text.scss */
h2 {
  font-size: 24px;
}

/* line 7, ../sass/dpl/_text.scss */
h3 {
  font-size: 18px;
}

/* line 10, ../sass/dpl/_text.scss */
h4 {
  font-size: 16px;
}

/* line 13, ../sass/dpl/_text.scss */
h5 {
  font-size: 14px;
}

/* line 16, ../sass/dpl/_text.scss */
h6 {
  font-size: 12px;
}

/* line 21, ../sass/dpl/_text.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: microsoft yahei;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 9px;
}
/* line 32, ../sass/dpl/_text.scss */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 80%;
  font-weight: 400;
  color: #777777;
  line-height: 1;
}

/* line 41, ../sass/dpl/_text.scss */
p {
  margin: 0 0 9px;
  font-family: microsoft yahei;
}
/* line 44, ../sass/dpl/_text.scss */
p small {
  font-size: 80%;
  font-weight: 400;
  color: #777777;
  line-height: 1;
}

/* line 52, ../sass/dpl/_text.scss */
strong {
  font-weight: 700;
}

/* line 56, ../sass/dpl/_text.scss */
.text-left {
  text-align: left;
}

/* line 59, ../sass/dpl/_text.scss */
.text-center {
  text-align: center;
}

/* line 62, ../sass/dpl/_text.scss */
.text-right {
  text-align: right;
}

/* line 65, ../sass/dpl/_text.scss */
.text-zh {
  text-indent: 2em;
}

/* line 69, ../sass/dpl/_text.scss */
abbr {
  cursor: help;
  border-bottom: 1px dotted #777;
}

/* line 1, ../sass/dpl/_btn.scss */
.btn {
  color: #fff;
  background: #4e82bc;
  font-size: 15px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.428;
  margin-bottom: 9px;
  font-family: microsoft yahei;
}
/* line 18, ../sass/dpl/_btn.scss */
.btn:focus {
  border: 0;
  outline: 0;
  color: #fff;
}
/* line 23, ../sass/dpl/_btn.scss */
.btn:hover {
  background: #155897;
  color: #fff;
}
/* line 27, ../sass/dpl/_btn.scss */
.btn:active {
  border: 0;
  outline: 0;
  background: #145693;
  color: #fff;
  top: 1px;
}
/* line 34, ../sass/dpl/_btn.scss */
.btn .disablea {
  color: #666;
  background: #f3f3f3;
}

/* line 39, ../sass/dpl/_btn.scss */
.btn-large {
  padding: 12px 36px;
  font-size: 20px;
  margin-right: 12px;
  letter-spacing: .1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 46, ../sass/dpl/_btn.scss */
.btn-mini {
  padding: 4px 10px;
  font-size: 12px;
  margin-right: 5px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

/* line 52, ../sass/dpl/_btn.scss */
.btn-yellow {
  background: #ff8e00;
}
/* line 54, ../sass/dpl/_btn.scss */
.btn-yellow:hover {
  background: #f98c03;
}
/* line 57, ../sass/dpl/_btn.scss */
.btn-yellow:active {
  background: #f18804;
}

/* line 61, ../sass/dpl/_btn.scss */
.btn-gray {
  background: #f3f3f3;
  color: #666;
}
/* line 64, ../sass/dpl/_btn.scss */
.btn-gray:hover {
  background: #eeeded;
  color: #666;
}
/* line 68, ../sass/dpl/_btn.scss */
.btn-gray:active {
  background: #eae7e7;
  color: #666;
}
/* line 72, ../sass/dpl/_btn.scss */
.btn-gray:focus {
  background: #eae7e7;
  color: #666;
}

/* line 77, ../sass/dpl/_btn.scss */
.btn[disabled] {
  color: #666;
  background: #f3f3f3;
}
/* line 81, ../sass/dpl/_btn.scss */
.btn[disabled]:hover {
  background: #f3f3f3;
  color: #666;
  cursor: default;
}
/* line 86, ../sass/dpl/_btn.scss */
.btn[disabled]:active {
  border: 0;
  outline: 0;
  background: #f3f3f3;
  color: #666;
  top: 0;
  left: 0;
}

/* line 96, ../sass/dpl/_btn.scss */
.regulation {
  height: 34px;
  margin-top: 3px;
  margin-right: 4px;
  overflow: hidden;
  float: right;
  background: #e9ebef;
  padding: 3px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 106, ../sass/dpl/_btn.scss */
.regulation .controll {
  width: 28px;
  height: 28px;
  color: #cbd0d8;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  float: left;
  margin: 0 1px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 119, ../sass/dpl/_btn.scss */
.regulation .controll:hover {
  background-color: #f9f9f9;
  color: #ff8e00;
}
/* line 124, ../sass/dpl/_btn.scss */
.regulation .add {
  background-image: url(../img/regulation-controll-white.png);
  background-position: 4px 4px;
  background-repeat: no-repeat;
}
/* line 128, ../sass/dpl/_btn.scss */
.regulation .add:hover {
  background-position: 4px -17px;
}
/* line 132, ../sass/dpl/_btn.scss */
.regulation .decrease {
  background-image: url(../img/regulation-controll-white.png);
  background-position: -19px 4px;
  background-repeat: no-repeat;
}
/* line 136, ../sass/dpl/_btn.scss */
.regulation .decrease:hover {
  background-position: -19px -17px;
}

/* line 142, ../sass/dpl/_btn.scss */
.regulation.regulation-gray .add, .regulation.regulation-gray .decrease {
  background-image: url(../img/regulation-controll.png);
}

/* line 1, ../sass/dpl/_table.scss */
table {
  border-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/* line 7, ../sass/dpl/_table.scss */
.table {
  max-width: 100%;
  margin-bottom: 16px;
}
/* line 12, ../sass/dpl/_table.scss */
.table thead tr th {
  border: 1px solid #666;
  vertical-align: bottom;
  padding: 7px;
  line-height: 1.428;
  text-align: center;
}
/* line 23, ../sass/dpl/_table.scss */
.table tbody tr td {
  padding: 7px;
  border: 1px solid #666;
  vertical-align: top;
  line-height: 1.428;
  text-align: center;
}

/* line 38, ../sass/dpl/_table.scss */
.table-odd tbody tr:nth-child(odd) td {
  background: #f6f8fa;
}

/* line 45, ../sass/dpl/_table.scss */
.table-border {
  border: 1px solid #666;
}
/* line 49, ../sass/dpl/_table.scss */
.table-border thead tr th {
  border: 1px solid #666;
}
/* line 56, ../sass/dpl/_table.scss */
.table-border tbody tr td {
  border: 1px solid #eee;
}

/* line 66, ../sass/dpl/_table.scss */
.table-hover tbody tr:hover td {
  background: #f0f1f2;
}

@media screen and (max-width: 767px) {
  /* line 74, ../sass/dpl/_table.scss */
  .table-auto {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  /* line 79, ../sass/dpl/_table.scss */
  .table-auto table th {
    white-space: nowrap;
  }
  /* line 82, ../sass/dpl/_table.scss */
  .table-auto table td {
    white-space: nowrap;
  }
}
/* line 1, ../sass/dpl/_formgroup.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  cursor: pointer;
}

/* line 8, ../sass/dpl/_formgroup.scss */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  /* outline: thin dotted; 
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; */
}

/* line 15, ../sass/dpl/_formgroup.scss */
.radio-group {
  margin-bottom: 9px;
}
/* line 17, ../sass/dpl/_formgroup.scss */
.radio-group label {
  font-weight: 400;
  cursor: pointer;
  max-width: 100%;
  margin-right: 12px;
}
/* line 22, ../sass/dpl/_formgroup.scss */
.radio-group label input[type="radio"],
.radio-group label input[type="checkbox"] {
  margin: 0 6px;
  position: relative;
  top: 2px;
}
/* line 29, ../sass/dpl/_formgroup.scss */
.radio-group small {
  vertical-align: bottom;
  color: #828282;
}

/* line 34, ../sass/dpl/_formgroup.scss */
.radio-group-style {
  margin-bottom: 25px;
}
/* line 36, ../sass/dpl/_formgroup.scss */
.radio-group-style label {
  margin-right: 12px;
  margin-bottom: 25px;
  cursor: pointer;
}
/* line 40, ../sass/dpl/_formgroup.scss */
.radio-group-style label i {
  width: 20px;
  height: 20px;
  background: url(../img/radios.png) no-repeat -63px -7px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: -2px;
}
/* line 48, ../sass/dpl/_formgroup.scss */
.radio-group-style label span {
  color: #CED6DD;
}
/* line 51, ../sass/dpl/_formgroup.scss */
.radio-group-style label input {
  display: none;
}
/* line 53, ../sass/dpl/_formgroup.scss */
.radio-group-style label input:checked + i {
  background-position: -15px -7px;
}
/* line 56, ../sass/dpl/_formgroup.scss */
.radio-group-style label input:checked + i + span {
  color: #fff;
}

/* line 62, ../sass/dpl/_formgroup.scss */
.radio-group-style-green {
  /* input{
  	display: none;
  	&:checked + i{
  		background-position: -6px -8px;
  	}
  	&:checked + i + span{
  		color: $yellow;
  	}
  } */
}
/* line 64, ../sass/dpl/_formgroup.scss */
.radio-group-style-green label i {
  background: url(../img/radios_green.png) no-repeat -63px -7px;
}

/* line 80, ../sass/dpl/_formgroup.scss */
.radio-group-style-yellow label i {
  background: url(../img/radios_yellow.png) no-repeat -63px -7px;
}

/* line 85, ../sass/dpl/_formgroup.scss */
.checkbox-group {
  margin-bottom: 9px;
}
/* line 87, ../sass/dpl/_formgroup.scss */
.checkbox-group label {
  padding-left: 20px;
  font-weight: 400;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 94, ../sass/dpl/_formgroup.scss */
.checkbox-group label input[type="radio"],
.checkbox-group label input[type="checkbox"] {
  margin-left: -16px;
  position: absolute;
  margin-top: 3px;
}

/* line 102, ../sass/dpl/_formgroup.scss */
.checkbox-group-style {
  margin-bottom: 25px;
}
/* line 104, ../sass/dpl/_formgroup.scss */
.checkbox-group-style label {
  margin-right: 12px;
  margin-bottom: 25px;
  cursor: pointer;
}
/* line 108, ../sass/dpl/_formgroup.scss */
.checkbox-group-style label i {
  width: 20px;
  height: 20px;
  background: url(../img/checkbox.png) no-repeat -58px -4px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: -1px;
}
/* line 116, ../sass/dpl/_formgroup.scss */
.checkbox-group-style label span {
  color: #fff;
}
/* line 119, ../sass/dpl/_formgroup.scss */
.checkbox-group-style label input {
  display: none;
  /* &:checked + i + span{
  	color: $yellow;
  } */
}
/* line 121, ../sass/dpl/_formgroup.scss */
.checkbox-group-style label input:checked + i {
  background-position: -19px -4px;
}

/* line 132, ../sass/dpl/_formgroup.scss */
.checkbox-group-style-yellow label i {
  background: url(../img/checkbox_yellow.png) no-repeat -58px -4px;
}

/* line 139, ../sass/dpl/_formgroup.scss */
.checkbox-group-style-default label i {
  background: url(../img/checkbox_normal.png) no-repeat -55px -4px;
}
/* line 143, ../sass/dpl/_formgroup.scss */
.checkbox-group-style-default label span {
  color: #CED6DD;
}
/* line 147, ../sass/dpl/_formgroup.scss */
.checkbox-group-style-default label input:checked + i + span {
  color: #fff;
}

/* line 155, ../sass/dpl/_formgroup.scss */
.radio-group-more label,
.checkbox-group-more label {
  margin-right: 16px;
}

/* line 12, ../sass/dpl/_width.scss */
.container {
  width: 1080px;
  margin: 0 auto;
}
/* line 15, ../sass/dpl/_width.scss */
.container::before, .container::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 20, ../sass/dpl/_width.scss */
.container::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span1 {
  width: 8.33333%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span1::before, .container .pc-span1::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span1::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span2 {
  width: 16.66667%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span2::before, .container .pc-span2::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span2::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span3 {
  width: 25%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span3::before, .container .pc-span3::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span3::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span4 {
  width: 33.33333%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span4::before, .container .pc-span4::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span4::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span5 {
  width: 41.66667%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span5::before, .container .pc-span5::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span5::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span6 {
  width: 50%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span6::before, .container .pc-span6::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span6::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span7 {
  width: 58.33333%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span7::before, .container .pc-span7::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span7::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span8 {
  width: 66.66667%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span8::before, .container .pc-span8::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span8::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span9 {
  width: 75%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span9::before, .container .pc-span9::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span9::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span10 {
  width: 83.33333%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span10::before, .container .pc-span10::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span10::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span11 {
  width: 91.66667%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span11::before, .container .pc-span11::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span11::after {
  clear: both;
}
/* line 24, ../sass/dpl/_width.scss */
.container .pc-span12 {
  width: 100%;
  float: left;
}
/* line 27, ../sass/dpl/_width.scss */
.container .pc-span12::before, .container .pc-span12::after {
  content: '';
  display: table;
  line-height: 0;
}
/* line 32, ../sass/dpl/_width.scss */
.container .pc-span12::after {
  clear: both;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset1 {
  margin-left: 8.33333%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset2 {
  margin-left: 16.66667%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset3 {
  margin-left: 25%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset4 {
  margin-left: 33.33333%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset5 {
  margin-left: 41.66667%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset6 {
  margin-left: 50%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset7 {
  margin-left: 58.33333%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset8 {
  margin-left: 66.66667%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset9 {
  margin-left: 75%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset10 {
  margin-left: 83.33333%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset11 {
  margin-left: 91.66667%;
  float: left;
}
/* line 38, ../sass/dpl/_width.scss */
.container .pc-span-offset12 {
  margin-left: 100%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span1 {
  width: 10%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span2 {
  width: 20%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span3 {
  width: 30%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span4 {
  width: 40%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span5 {
  width: 50%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span6 {
  width: 60%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span7 {
  width: 70%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span8 {
  width: 80%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span9 {
  width: 90%;
  float: left;
}

/* line 71, ../sass/dpl/_width.scss */
.span10 {
  width: 100%;
  float: left;
}

/* line 1, ../sass/dpl/_img.scss */
img {
  border: 0;
  max-width: 100% !important;
  vertical-align: middle;
}

/* line 6, ../sass/dpl/_img.scss */
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/dpl/_textarea.scss */
textarea {
  width: 100%;
  height: 130px;
  line-height: 40px\9;
  _line-height: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #e3e4e8;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: bold;
  padding-left: 0.5em;
  padding-top: 0.5em;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 14, ../sass/dpl/_textarea.scss */
textarea:focus {
  border-color: #8cc152;
  outline: 0;
  color: #2f2f2f;
}

/* line 1, ../sass/dpl/_triangle.scss */
.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #050505 transparent transparent transparent;
  line-height: 0px;
  _border-color: #050505 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 2px;
}

/* line 14, ../sass/dpl/_triangle.scss */
.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent #050505 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #050505 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 2px;
}

/* line 38, ../sass/dpl/_triangle.scss */
.triangle-down-white {
  border-color: #ffffff transparent transparent transparent;
  _border-color: #ffffff #000000 #000000 #000000;
}

/* line 41, ../sass/dpl/_triangle.scss */
.triangle-down-yellow {
  border-color: #ff8e00 transparent transparent transparent;
  _border-color: #ff8e00 #000000 #000000 #000000;
}

/* line 44, ../sass/dpl/_triangle.scss */
.triangle-down-green {
  border-color: #85c51f transparent transparent transparent;
  _border-color: #85c51f #000000 #000000 #000000;
}

/* line 47, ../sass/dpl/_triangle.scss */
.triangle-down-gray {
  border-color: #aeaeae transparent transparent transparent;
  _border-color: #aeaeae #000000 #000000 #000000;
}

/* line 50, ../sass/dpl/_triangle.scss */
.triangle-down-md {
  border-width: 6px 6px 0 6px;
}

/* line 55, ../sass/dpl/_triangle.scss */
.triangle-up-white {
  border-color: transparent transparent #ffffff transparent;
  _border-color: #000000 #000000 #ffffff #000000;
}

/* line 58, ../sass/dpl/_triangle.scss */
.triangle-up-yellow {
  border-color: transparent transparent #ff8e00 transparent;
  _border-color: #000000 #000000 #ff8e00 #000000;
}

/* line 61, ../sass/dpl/_triangle.scss */
.triangle-up-green {
  border-color: transparent transparent #85c51f transparent;
  _border-color: #000000 #000000 #85c51f #000000;
}

/* line 64, ../sass/dpl/_triangle.scss */
.triangle-up-gray {
  border-color: transparent transparent #aeaeae transparent;
  _border-color: #000000 #000000 #aeaeae #000000;
}

/* line 67, ../sass/dpl/_triangle.scss */
.triangle-up-md {
  border-width: 0 6px 6px 6px;
}

/* line 3, ../sass/dpl/_progressbar.scss */
.progress {
  width: 100%;
  height: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background: #f5f5f5;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
/* line 11, ../sass/dpl/_progressbar.scss */
.progress .progress-bar {
  position: absolute;
  width: 69%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f4aa28;
}
/* line 19, ../sass/dpl/_progressbar.scss */
.progress .active {
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  animation: progress_bar 2s linear 0s infinite normal;
  -webkit-animation: progress_bar 2s linear 0s infinite normal;
  -moz-animation: progress_bar 2s linear 0s infinite normal;
  -o-animation: progress_bar 2s linear 0s infinite normal;
}

@keyframes progress_bar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-webkit-keyframes progress_bar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-moz-keyframes progress_bar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@-o-keyframes progress_bar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
/* line 1, ../sass/dpl/_page.scss */
.package-num {
  padding: 55px 0 0;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
}
/* line 6, ../sass/dpl/_page.scss */
.package-num .num-active {
  background: #8d9199;
  color: #fff;
}
/* line 10, ../sass/dpl/_page.scss */
.package-num .first, .package-num .last {
  width: 40px;
  color: #fff;
  background: #3b68ac;
}
/* line 14, ../sass/dpl/_page.scss */
.package-num .first:hover, .package-num .last:hover {
  background: #385d95;
}
/* line 18, ../sass/dpl/_page.scss */
.package-num a {
  display: inline-block;
  width: 28px;
  height: 25px;
  border-radius: 5px;
  color: #878787;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  background: #d9dbe0;
}
/* line 28, ../sass/dpl/_page.scss */
.package-num a.pre, .package-num a.next {
  color: #fff;
  background: #3b68ac;
  padding: 8px 6px 0 7px;
  vertical-align: top;
}
/* line 35, ../sass/dpl/_page.scss */
.package-num a.pre .arrow-pre {
  display: inline-block;
  float: left;
  height: 16px;
}
/* line 39, ../sass/dpl/_page.scss */
.package-num a.pre .arrow-pre .pre1 {
  border-width: 4px;
  border-color: transparent #fff transparent transparent;
}
/* line 43, ../sass/dpl/_page.scss */
.package-num a.pre .arrow-pre .pre2 {
  border-width: 4px;
  border-color: transparent #3b68ac transparent transparent;
  position: relative;
  top: -8px;
  left: 2px;
}
/* line 50, ../sass/dpl/_page.scss */
.package-num a.pre .arrow-pre .pre1, .package-num a.pre .arrow-pre .pre2 {
  border-style: dashed solid dashed dashed;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
/* line 60, ../sass/dpl/_page.scss */
.package-num a.pre:hover {
  background: #385d95;
}
/* line 62, ../sass/dpl/_page.scss */
.package-num a.pre:hover .pre2 {
  border-color: transparent #385d95 transparent transparent;
}
/* line 68, ../sass/dpl/_page.scss */
.package-num a.next .arrow-next {
  display: inline-block;
  float: right;
  height: 16px;
}
/* line 72, ../sass/dpl/_page.scss */
.package-num a.next .arrow-next .next1 {
  border-width: 4px;
  border-color: transparent  transparent transparent #fff;
}
/* line 76, ../sass/dpl/_page.scss */
.package-num a.next .arrow-next .next2 {
  border-width: 4px;
  border-color: transparent  transparent transparent #3b68ac;
  position: relative;
  top: -8px;
  left: -2px;
}
/* line 83, ../sass/dpl/_page.scss */
.package-num a.next .arrow-next .next1, .package-num a.next .arrow-next .next2 {
  border-style: dashed dashed dashed solid;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
/* line 92, ../sass/dpl/_page.scss */
.package-num a.next:hover {
  background: #385d95;
}
/* line 94, ../sass/dpl/_page.scss */
.package-num a.next:hover .next2 {
  border-color: transparent transparent transparent #385d95;
}
/* line 99, ../sass/dpl/_page.scss */
.package-num a.num:hover {
  background: #8d9199;
  color: #fff;
}
/* line 103, ../sass/dpl/_page.scss */
.package-num a.etc {
  background: none;
}

/* line 65, ../sass/_dpl.scss */
.last-margin-right-0 {
  margin-right: 0 !important;
}

/* line 68, ../sass/_dpl.scss */
.last-margin-bottom-0 {
  margin-bottom: 0 !important;
}

/* line 72, ../sass/_dpl.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 79, ../sass/_dpl.scss */
*::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 84, ../sass/_dpl.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 88, ../sass/_dpl.scss */
ol, ul, li {
  list-style: none;
  list-style-type: none;
}

/* line 92, ../sass/_dpl.scss */
body {
  font-family: microsoft yahei,tahoma,arial,\5b8b\4f53,sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

/* line 98, ../sass/_dpl.scss */
.clearfix {
  *zoom: 1;
}

/* line 101, ../sass/_dpl.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 107, ../sass/_dpl.scss */
.clearfix:after {
  clear: both;
}

/* line 110, ../sass/_dpl.scss */
.float-right {
  float: right;
}

/* line 113, ../sass/_dpl.scss */
.float-left {
  float: left;
}

/* line 116, ../sass/_dpl.scss */
:root .ie9-input {
  filter: none !important;
}

/* line 1, ../sass/_indexHeader.scss */
header {
  width: 100%;
  /* background-color: #fff; */
}
/* line 4, ../sass/_indexHeader.scss */
header .top-bar {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #8c765e;
}
/* line 10, ../sass/_indexHeader.scss */
header .top-bar .user a {
  display: inline-block;
  padding: 0 10px;
  text-decoration: underline;
  color: #ce0037;
  font-size: 15px;
}
/* line 19, ../sass/_indexHeader.scss */
header .logo {
  /* padding: 15px 0; */
}
/* line 21, ../sass/_indexHeader.scss */
header .logo .search {
  width: 210px;
  height: 30px;
  overflow: hidden;
  position: relative;
  margin-top: 16px;
}
/* line 27, ../sass/_indexHeader.scss */
header .logo .search input {
  background: none;
  width: 210px;
  height: 30px;
  line-height: 30px\9;
  _line-height: 30px;
  border: 1px solid #eee;
  font-size: 16px;
  padding-left: .5em;
}
/* line 37, ../sass/_indexHeader.scss */
header .logo .search button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 1px;
  border: 0;
}
/* line 49, ../sass/_indexHeader.scss */
header .nav {
  background-color: #d12f33;
  width: 1080px;
  height: 50px;
  line-height: 50px;
}
/* line 55, ../sass/_indexHeader.scss */
header .nav ul li {
  float: left;
  font-size: 16px;
  color: #fff;
  width: 90px;
  text-align: center;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 63, ../sass/_indexHeader.scss */
header .nav ul li:first-child {
  border-left: 0;
}
/* line 66, ../sass/_indexHeader.scss */
header .nav ul li a {
  display: block;
  color: #fff;
}
/* line 70, ../sass/_indexHeader.scss */
header .nav ul li a:hover {
  background: #bc2a2e;
}
/* line 73, ../sass/_indexHeader.scss */
header .nav ul li ul {
  display: none;
  position: absolute;
  top: 50px;
  margin-left: -25px;
  width: 142px;
  line-height: 40px;
  z-index: 999;
}
/* line 82, ../sass/_indexHeader.scss */
header .nav ul li ul li {
  float: none;
  background: #d12f33;
  width: 154px;
  border: 1px solid;
}

header .nav ul li ul li:first-child {
  background: #d12f33;
}
/* line 91, ../sass/_indexHeader.scss */
header .nav ul li:hover ul {
  display: block;
}
/* line 97, ../sass/_indexHeader.scss */
header .nav-green {
  background-color: #01acc8;
  width: 100%;
  height: 45px;
  line-height: 45px;
}
/* line 103, ../sass/_indexHeader.scss */
header .nav-green ul li {
  float: left;
  font-size: 16px;
  color: #fff;
  width: 92px;
  text-align: center;
  position: relative;
  border-left: 1px solid;
}
/* line 111, ../sass/_indexHeader.scss */
header .nav-green ul li:first-child {
  border-left: 0;
}
/* line 114, ../sass/_indexHeader.scss */
header .nav-green ul li a {
  display: block;
  color: #fff;
}
/* line 118, ../sass/_indexHeader.scss */
header .nav-green ul li a:hover {
  background: #0192aa;
}
/* line 121, ../sass/_indexHeader.scss */
header .nav-green ul li ul {
  display: none;
  position: absolute;
  top: 45px;
  margin-left: -25px;
  width: 142px;
  line-height: 40px;
  z-index: 3;
}
/* line 130, ../sass/_indexHeader.scss */
header .nav-green ul li ul li {
  float: none;
  background: #01acc8;
  width: 142px;
  border: 1px solid;
}
/* line 139, ../sass/_indexHeader.scss */
header .nav-green ul li:hover ul {
  display: block;
}

/* line 2, ../sass/_footer.scss */
footer .us {
  text-align: center;
  padding: 20px;
}
/* line 5, ../sass/_footer.scss */
footer .us span {
  display: inline-block;
}
/* line 7, ../sass/_footer.scss */
footer .us span i {
  position: absolute;
}
/* line 10, ../sass/_footer.scss */
footer .us span a {
  display: inline-block;
  padding: 0 50px 0 30px;
}
/* line 16, ../sass/_footer.scss */
footer .footer-info {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #d12f33;
  color: #fff;
  font-size: 14px;
}
/* line 23, ../sass/_footer.scss */
footer .footer-info a {
  color: #fff;
}
/* line 26, ../sass/_footer.scss */
footer .footer-info .portal {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 30, ../sass/_footer.scss */
footer .footer-info .portal a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
/* line 36, ../sass/_footer.scss */
footer .footer-info span {
  display: inline-block;
}

/* line 5, ../sass/index.scss */
.title {
  border-bottom: 1px solid #3b68ac;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin: 0;
}
/* line 11, ../sass/index.scss */
.title span {
  display: inline-block;
  width: 100px;
  background-color: #4292cf;
  text-align: center;
  color: #fff;
}
/* line 18, ../sass/index.scss */
.title a {
  display: inline-block;
  width: 60px;
  float: right;
  color: #567b86;
  font-size: 14px;
}

/* line 26, ../sass/index.scss */
.group {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #bbb;
  overflow: hidden;
}

/* line 32, ../sass/index.scss */
.main-top {
  margin-top: 5px;
}

/* line 36, ../sass/index.scss */
#travel-slide {
  width: 100%;
  height: 290px;
  overflow: hidden;
  background-color: #f6f6f6;
}
/* line 42, ../sass/index.scss */
#travel-slide .banner {
  width: 100%;
  height: 290px;
  overflow: hidden;
  position: relative;
}
/* line 47, ../sass/index.scss */
#travel-slide .banner .slidebox {
  width: 1024px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 54, ../sass/index.scss */
#travel-slide .banner .slidebox li {
  float: left;
  width: 100%;
  height: 290px;
  margin: auto;
  left: 0;
  top: 0;
}
/* line 61, ../sass/index.scss */
#travel-slide .banner .slidebox li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
/* line 68, ../sass/index.scss */
#travel-slide .banner .slidebox li .banner {
  width: 100%;
  height: 290px;
  background-color: #f3f3f3;
}
/* line 75, ../sass/index.scss */
#travel-slide .banner .dot {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 20px;
}
/* line 80, ../sass/index.scss */
#travel-slide .banner .dot p {
  text-align: center;
}
/* line 83, ../sass/index.scss */
#travel-slide .banner .dot b {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid #fff;
  background: #fff;
  opacity: 0.8;
  text-align: center;
  line-height: 17px;
  margin: 0 5px;
  margin-top: 6px;
  cursor: pointer;
  font-weight: normal;
}
/* line 98, ../sass/index.scss */
#travel-slide .banner .dot .cur {
  background: #c81d01;
  border: 1px solid #c81d01;
}
/* line 105, ../sass/index.scss */
#travel-slide .slide-bar {
  width: 100%;
  position: relative;
}
/* line 108, ../sass/index.scss */
#travel-slide .slide-bar .bar {
  width: 100%;
  height: 100%;
  top: -60px;
  left: 0;
  text-align: center;
}
/* line 114, ../sass/index.scss */
#travel-slide .slide-bar .bar span {
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 5px;
}
/* line 124, ../sass/index.scss */
#travel-slide .slide-bar .bar .active {
  background-color: #6b1821;
}

/* line 139, ../sass/index.scss */
.main-info .group-list {
  margin-left: 12px;
  border: 1px solid #bbb;
}
/* line 142, ../sass/index.scss */
.main-info .group-list:first-child {
  margin-left: 0;
}

/* line 149, ../sass/index.scss */
.main .express {
  border: 1px solid #01acc8;
}
/* line 151, ../sass/index.scss */
.main .express .expressWay {
  width: 100%;
  background-color: #01acc8;
  color: #fff;
  text-align: center;
  padding: 15px;
}
/* line 157, ../sass/index.scss */
.main .express .expressWay h1 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
}
/* line 162, ../sass/index.scss */
.main .express .expressWay p {
  font-size: 12px;
  margin: 0;
}
/* line 167, ../sass/index.scss */
.main .express li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 20px;
  text-align: center;
  background: #f7ffff;
  border-bottom: 1px solid #fff;
}
/* line 176, ../sass/index.scss */
.main .express li:nth-of-type(odd) {
  background: #edf8f6;
}
/* line 179, ../sass/index.scss */
.main .express li:nth-of-type(even) {
  background: #f7ffff;
}
/* line 182, ../sass/index.scss */
.main .express li a {
  display: block;
  cursor: pointer;
  color: #333;
}
/* line 186, ../sass/index.scss */
.main .express li a span {
  display: block;
  float: left;
  width: 21px;
  height: 24px;
  position: relative;
  top: 15px;
  left: 10px;
}
/* line 198, ../sass/index.scss */
.main .main-right {
  padding-left: 20px;
}
/* line 200, ../sass/index.scss */
.main .main-right .expertIntroduction {
  margin-top: 15px;
}
/* line 202, ../sass/index.scss */
.main .main-right .expertIntroduction .title {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 211, ../sass/index.scss */
.main .main-right .expertIntroduction :root .title {
  filter: none;
}
/* line 216, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul {
  width: 50000px;
}
/* line 218, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul .expert-list {
  float: left;
  width: 260px;
}
/* line 221, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul .expert-list img {
  width: 100px;
  height: 137px;
  float: left;
}
/* line 226, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul .expert-list .expert-content {
  padding: 20px 20px 0;
}
/* line 228, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul .expert-list .expert-content .name {
  color: #3b68ac;
  font-size: 16px;
}
/* line 232, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul .expert-list .expert-content .position {
  font-size: 14px;
  color: #666;
}
/* line 236, ../sass/index.scss */
.main .main-right .expertIntroduction .group-ul .expert-list .expert-content .detail {
  text-align: center;
  display: block;
  width: 70px;
  height: 28px;
  line-height: 28px;
  background-color: #ce0037;
  font-size: 14px;
  color: #fff;
}
/* line 250, ../sass/index.scss */
.main .main-right .departments {
  height: 306px;
}
/* line 253, ../sass/index.scss */
.main .main-right .departments .title {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 262, ../sass/index.scss */
.main .main-right .departments :root .title {
  filter: none;
}
/* line 263, ../sass/index.scss */
.main .main-right .departments .tab-bar {
  padding: 10px 0;
}
/* line 265, ../sass/index.scss */
.main .main-right .departments .tab-bar li {
  float: left;
  width: 125px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #eee;
  color: #3b68ac;
  border-right: 3px solid #fff;
}
/* line 274, ../sass/index.scss */
.main .main-right .departments .tab-bar li a {
  display: block;
  background-color: #eee;
  color: #3b68ac;
}
/* line 281, ../sass/index.scss */
.main .main-right .departments .tab-bar .active a {
  background-color: #3b68ac;
  color: #fff;
}
/* line 288, ../sass/index.scss */
.main .main-right .departments .tab-content {
  padding-left: 10px;
  padding-top: 3px;
  font-size: 14px;
}
/* line 292, ../sass/index.scss */
.main .main-right .departments .tab-content .depart-list {
  width: 180px;
  padding: 5px 0;
}
/* line 295, ../sass/index.scss */
.main .main-right .departments .tab-content .depart-list i {
  position: absolute;
}
/* line 298, ../sass/index.scss */
.main .main-right .departments .tab-content .depart-list span {
  display: inline-block;
  padding-left: 25px;
  background-color: #eeeeee;
}
/* line 304, ../sass/index.scss */
.main .main-right .departments .tab-content a:hover {
  color: #3b68ac;
}

/* line 314, ../sass/index.scss */
.news .news-left {
  width: 440px;
  height: 312px;
  position: relative;
  overflow: auto;
  text-align: center;
}
/* line 320, ../sass/index.scss */
.news .news-left li {
  float: left;
}
/* line 322, ../sass/index.scss */
.news .news-left li img {
  width: 440px;
  height: 312px;
}
/* line 326, ../sass/index.scss */
.news .news-left li .diolg {
  width: 440px;
  height: 32px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
}
/* line 339, ../sass/index.scss */
.news .news-left .arrow {
  position: absolute;
  top: 130px;
}
/* line 343, ../sass/index.scss */
.news .news-left #al {
  left: 15px;
}
/* line 346, ../sass/index.scss */
.news .news-left #ar {
  right: 15px;
}
/* line 351, ../sass/index.scss */
.news .important {
  margin-left: 10px;
  width: 320px;
}
/* line 354, ../sass/index.scss */
.news .important .news-bar {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 363, ../sass/index.scss */
.news .important :root .news-bar {
  filter: none;
}
/* line 364, ../sass/index.scss */
.news .important .dynamics {
  background-color: #4292cf;
  color: #fff;
}
/* line 368, ../sass/index.scss */
.news .important .original {
  background-color: transparent;
  color: #333;
}
/* line 372, ../sass/index.scss */
.news .important .group {
  padding: 9px 10px;
}
/* line 375, ../sass/index.scss */
.news .important li {
  padding: 4px 0;
  font-size: 14px;
  line-height: 18px;
}
/* line 379, ../sass/index.scss */
.news .important li i {
  position: absolute;
}
/* line 382, ../sass/index.scss */
.news .important li a {
  display: inline-block;
  width: 100%;
  color: #333;
  padding-left: 18px;
}
/* line 387, ../sass/index.scss */
.news .important li a span {
  display: inline-block;
  float: right;
  color: #666;
}
/* line 392, ../sass/index.scss */
.news .important li a:hover {
  color: #eb4f38;
}
/* line 399, ../sass/index.scss */
.news .announcement {
  width: 240px;
}
/* line 402, ../sass/index.scss */
.news .announcement .title {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 411, ../sass/index.scss */
.news .announcement :root .title {
  filter: none;
}
/* line 412, ../sass/index.scss */
.news .announcement .group {
  padding: 9px 10px;
}
/* line 415, ../sass/index.scss */
.news .announcement li {
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
}
/* line 419, ../sass/index.scss */
.news .announcement li a {
  display: inline-block;
  color: #333;
}
/* line 422, ../sass/index.scss */
.news .announcement li a:hover {
  color: #eb4f38;
}

/* line 430, ../sass/index.scss */
.navigation {
  width: 77%;
}
/* line 432, ../sass/index.scss */
.navigation .title {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 441, ../sass/index.scss */
.navigation :root .title {
  filter: none;
}
/* line 442, ../sass/index.scss */
.navigation .navLocation {
  margin-top: 15px;
}

/* line 447, ../sass/index.scss */
.management {
  width: 22%;
}
/* line 449, ../sass/index.scss */
.management .title {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 458, ../sass/index.scss */
.management :root .title {
  filter: none;
}
/* line 459, ../sass/index.scss */
.management .mange {
  margin-top: 15px;
}
/* line 461, ../sass/index.scss */
.management .mange img {
  margin-bottom: 5px;
}

/* line 468, ../sass/index.scss */
.friend .title {
  background: -moz-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -webkit-gradient(linear, top left, top right, color-stop(0%, #d1f4ff), color-stop(100%, #93d5ea));
  background: -webkit-linear-gradient(top, #d1f4ff 0%, #93d5ea 100%);
  background: -o-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: -ms-linear-gradient(left, #d1f4ff 0%, #93d5ea 100%);
  background: linear-gradient(to right, #d1f4ff 0%, #93d5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1f4ff', endColorstr='#93d5ea',GradientType=0 );
}
/* line 477, ../sass/index.scss */
.friend :root .title {
  filter: none;
}
/* line 478, ../sass/index.scss */
.friend .group {
  padding: 15px;
  text-align: center;
}
/* line 481, ../sass/index.scss */
.friend .group a {
  display: inline-block;
  margin-right: 10px;
}

/* line 488, ../sass/index.scss */
.rightCode {
  width: 121px;
  padding: 10px 13px;
  text-align: center;
  margin: auto;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 0px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 501, ../sass/index.scss */
.rightCode .WeChat {
  width: 91px;
  height: 116px;
  background: url("../img/WeChat.png") top center no-repeat;
}
/* line 506, ../sass/index.scss */
.rightCode .weibo {
  width: 91px;
  height: 121px;
  background: url("../img/weibo.png") top center no-repeat;
}
/* line 511, ../sass/index.scss */
.rightCode .complaints {
  width: 95px;
  height: 26px;
  background: url("../img/complain.png") top center no-repeat;
}
/* line 516, ../sass/index.scss */
.rightCode .opinion {
  width: 95px;
  height: 26px;
  background: url("../img/opinion.png") top center no-repeat;
}
/* line 521, ../sass/index.scss */
.rightCode span, .rightCode a {
  display: block;
  margin-bottom: 10px;
}

/* line 530, ../sass/index.scss */
#show {
  position: fixed;
  right: 0;
  top: 50%;
  width: 52px;
  border: 1px solid #ccc;
  z-index: 5;
}
/* line 537, ../sass/index.scss */
#show .small-show {
  position: relative;
  margin-top: -4px;
}
/* line 540, ../sass/index.scss */
#show .small-show .all {
  width: 52px;
  height: 50px;
  line-height: 50px;
  margin-top: 4px;
  display: block;
  overflow: hidden;
  text-align: center;
  background: #d0d6d9;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  cursor: pointer;
}
/* line 555, ../sass/index.scss */
#show .small-show .all:hover {
  background: #98a1a6;
}
/* line 557, ../sass/index.scss */
#show .small-show .all:hover .img1 {
  display: none;
}
/* line 560, ../sass/index.scss */
#show .small-show .all:hover .img2 {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
/* line 566, ../sass/index.scss */
#show .small-show .logo {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: -165px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
/* line 578, ../sass/index.scss */
#show .small-show .all:hover .logo {
  width: 170px;
  height: 204px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
/* line 586, ../sass/index.scss */
#show .small-show #close {
  display: block;
  background: #d0d6d9;
  color: white;
  font-size: 35px;
  font-family: Arial, 'Times New Roman', Verdana;
  background-position: 0 67.5%;
  cursor: pointer;
}
/* line 595, ../sass/index.scss */
#show .small-show #close:hover {
  background: #98a1a6;
}

/* line 601, ../sass/index.scss */
#hide {
  background: #d0d6d9;
  width: 51px;
  height: 51px;
  line-height: 51px;
  position: fixed;
  right: 0;
  top: 80%;
  display: none;
}
/* line 610, ../sass/index.scss */
#hide #hre {
  display: inline-block;
  color: white;
  width: 51px;
  height: 51px;
  font-size: 35px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}
/* line 621, ../sass/index.scss */
#hide #hre:hover {
  background: #98a1a6;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.telephone{
  /*width:1024px;
  margin-top: 5px;
  color: #6d6d73;
  overflow:hidden;
  font-size: 15px;
  text-align:center;*/
  position:absolute;
  z-index:10;
  width:100%;
  text-align:center;
  bottom:5px;
  color:#f5f8f9;
  background-color:rgba(0,0,0,0.2);


}


.location {
  font-size: 14px;
  padding: 20px 0;
  color: #333;
}
/* line 5, ../sass/_news.scss */
.location i {
  position: absolute;
}
/* line 8, ../sass/_news.scss */
.location span {
  display: inline-block;
  margin-left: 25px;
}
/* line 12, ../sass/_news.scss */
.location .cur {
  color: #d12f33;
}
