@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}

/* line 33, ../sass/_dpl.scss */

html {
    -webkit-text-size-adjust: none;
}

/* line 37, ../sass/_dpl.scss */

body {
    -webkit-overflow-scrolling: touch;
    min-width: 1024px;
}

/*雪碧图的依赖模块*/

/*合并之后的间隔*/

/*添加宽高*/

/*合并之后的间隔*/

/*添加宽高*/

/* line 176, icons/*.png */

.icons-sprite,
.icons-1,
.icons-aboutUs,
.icons-blue,
.icons-copyright,
.icons-corss,
.icons-cross,
.icons-cross1,
.icons-cross2,
.icons-cross3,
.icons-cross4,
.icons-depart-info-title-bg,
.icons-fire,
.icons-heart,
.icons-home,
.icons-legal,
.icons-mailbox,
.icons-search {
    background-image: url('http://p1icwc5x5.bkt.clouddn.com/icons-s42a0382451.png');
    background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-1 {
    background-position: 0 0;
    height: 20px;
    width: 20px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-aboutUs {
    background-position: 0 -30px;
    height: 20px;
    width: 20px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-blue {
    background-position: 0 -60px;
    height: 73px;
    width: 58px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-copyright {
    background-position: 0 -143px;
    height: 24px;
    width: 20px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-corss {
    background-position: 0 -177px;
    height: 16px;
    width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-cross {
    background-position: 0 -203px;
    height: 16px;
    width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-cross1 {
    background-position: 0 -229px;
    height: 16px;
    width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-cross2 {
    background-position: 0 -255px;
    height: 16px;
    width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-cross3 {
    background-position: 0 -281px;
    height: 16px;
    width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-cross4 {
    background-position: 0 -307px;
    height: 16px;
    width: 16px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-depart-info-title-bg {
    background-position: 0 -333px;
    height: 20px;
    width: 85px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-fire {
    background-position: 0 -363px;
    height: 15px;
    width: 14px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-heart {
    background-position: 0 -388px;
    height: 32px;
    width: 32px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-home {
    background-position: 0 -430px;
    height: 15px;
    width: 17px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-legal {
    background-position: 0 -455px;
    height: 22px;
    width: 24px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-mailbox {
    background-position: 0 -487px;
    height: 16px;
    width: 21px;
}

/* line 84, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */

.icons-search {
    background-position: 0 -513px;
    height: 28px;
    width: 30px;
}

/* line 1, ../sass/dpl/_text.scss */

h1 {
    font-size: 30px;
}

/* line 4, ../sass/dpl/_text.scss */

h2 {
    font-size: 24px;
}

/* line 7, ../sass/dpl/_text.scss */

h3 {
    font-size: 18px;
}

/* line 10, ../sass/dpl/_text.scss */

h4 {
    font-size: 16px;
}

/* line 13, ../sass/dpl/_text.scss */

h5 {
    font-size: 14px;
}

/* line 16, ../sass/dpl/_text.scss */

h6 {
    font-size: 12px;
}

/* line 21, ../sass/dpl/_text.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: microsoft yahei;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 9px;
}

/* line 32, ../sass/dpl/_text.scss */

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 80%;
    font-weight: 400;
    color: #777777;
    line-height: 1;
}

/* line 41, ../sass/dpl/_text.scss */

p {
    margin: 0 0 9px;
    font-family: microsoft yahei;
}

/* line 44, ../sass/dpl/_text.scss */

p small {
    font-size: 80%;
    font-weight: 400;
    color: #777777;
    line-height: 1;
}

/* line 52, ../sass/dpl/_text.scss */

strong {
    font-weight: 700;
}

/* line 56, ../sass/dpl/_text.scss */

.text-left {
    text-align: left;
}

/* line 59, ../sass/dpl/_text.scss */

.text-center {
    text-align: center;
}

/* line 62, ../sass/dpl/_text.scss */

.text-right {
    text-align: right;
}

/* line 65, ../sass/dpl/_text.scss */

.text-zh {
    text-indent: 2em;
}

/* line 69, ../sass/dpl/_text.scss */

abbr {
    cursor: help;
    border-bottom: 1px dotted #777;
}

/* line 1, ../sass/dpl/_btn.scss */

.btn {
    color: #fff;
    background: #4e82bc;
    font-size: 15px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.428;
    margin-bottom: 9px;
    font-family: microsoft yahei;
}

/* line 18, ../sass/dpl/_btn.scss */

.btn:focus {
    border: 0;
    outline: 0;
    color: #fff;
}

/* line 23, ../sass/dpl/_btn.scss */

.btn:hover {
    background: #155897;
    color: #fff;
}

/* line 27, ../sass/dpl/_btn.scss */

.btn:active {
    border: 0;
    outline: 0;
    background: #145693;
    color: #fff;
    top: 1px;
}

/* line 34, ../sass/dpl/_btn.scss */

.btn .disablea {
    color: #666;
    background: #f3f3f3;
}

/* line 39, ../sass/dpl/_btn.scss */

.btn-large {
    padding: 12px 36px;
    font-size: 20px;
    margin-right: 12px;
    letter-spacing: .1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* line 46, ../sass/dpl/_btn.scss */

.btn-mini {
    padding: 4px 10px;
    font-size: 12px;
    margin-right: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

/* line 52, ../sass/dpl/_btn.scss */

.btn-yellow {
    background: #ff8e00;
}

/* line 54, ../sass/dpl/_btn.scss */

.btn-yellow:hover {
    background: #f98c03;
}

/* line 57, ../sass/dpl/_btn.scss */

.btn-yellow:active {
    background: #f18804;
}

/* line 61, ../sass/dpl/_btn.scss */

.btn-gray {
    background: #f3f3f3;
    color: #666;
}

/* line 64, ../sass/dpl/_btn.scss */

.btn-gray:hover {
    background: #eeeded;
    color: #666;
}

/* line 68, ../sass/dpl/_btn.scss */

.btn-gray:active {
    background: #eae7e7;
    color: #666;
}

/* line 72, ../sass/dpl/_btn.scss */

.btn-gray:focus {
    background: #eae7e7;
    color: #666;
}

/* line 77, ../sass/dpl/_btn.scss */

.btn[disabled] {
    color: #666;
    background: #f3f3f3;
}

/* line 81, ../sass/dpl/_btn.scss */

.btn[disabled]:hover {
    background: #f3f3f3;
    color: #666;
    cursor: default;
}

/* line 86, ../sass/dpl/_btn.scss */

.btn[disabled]:active {
    border: 0;
    outline: 0;
    background: #f3f3f3;
    color: #666;
    top: 0;
    left: 0;
}

/* line 96, ../sass/dpl/_btn.scss */

.regulation {
    height: 34px;
    margin-top: 3px;
    margin-right: 4px;
    overflow: hidden;
    float: right;
    background: #e9ebef;
    padding: 3px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 106, ../sass/dpl/_btn.scss */

.regulation .controll {
    width: 28px;
    height: 28px;
    color: #cbd0d8;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    float: left;
    margin: 0 1px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 119, ../sass/dpl/_btn.scss */

.regulation .controll:hover {
    background-color: #f9f9f9;
    color: #ff8e00;
}

/* line 124, ../sass/dpl/_btn.scss */

.regulation .add {
    background-image: url(../img/regulation-controll-white.png);
    background-position: 4px 4px;
    background-repeat: no-repeat;
}

/* line 128, ../sass/dpl/_btn.scss */

.regulation .add:hover {
    background-position: 4px -17px;
}

/* line 132, ../sass/dpl/_btn.scss */

.regulation .decrease {
    background-image: url(../img/regulation-controll-white.png);
    background-position: -19px 4px;
    background-repeat: no-repeat;
}

/* line 136, ../sass/dpl/_btn.scss */

.regulation .decrease:hover {
    background-position: -19px -17px;
}

/* line 142, ../sass/dpl/_btn.scss */

.regulation.regulation-gray .add,
.regulation.regulation-gray .decrease {
    background-image: url(../img/regulation-controll.png);
}

/* line 1, ../sass/dpl/_table.scss */

table {
    border-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

/* line 7, ../sass/dpl/_table.scss */

.table {
    max-width: 100%;
    margin-bottom: 16px;
}

/* line 12, ../sass/dpl/_table.scss */

.table thead tr th {
    border: 1px solid #666;
    vertical-align: bottom;
    padding: 7px;
    line-height: 1.428;
    text-align: center;
}

/* line 23, ../sass/dpl/_table.scss */

.table tbody tr td {
    padding: 7px;
    border: 1px solid #666;
    vertical-align: top;
    line-height: 1.428;
    text-align: center;
}

/* line 38, ../sass/dpl/_table.scss */

.table-odd tbody tr:nth-child(odd) td {
    background: #f6f8fa;
}

/* line 45, ../sass/dpl/_table.scss */

.table-border {
    border: 1px solid #666;
}

/* line 49, ../sass/dpl/_table.scss */

.table-border thead tr th {
    border: 1px solid #666;
}

/* line 56, ../sass/dpl/_table.scss */

.table-border tbody tr td {
    border: 1px solid #eee;
}

/* line 66, ../sass/dpl/_table.scss */

.table-hover tbody tr:hover td {
    background: #f0f1f2;
}

@media screen and (max-width: 767px) {
    /* line 74, ../sass/dpl/_table.scss */
    .table-auto {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    /* line 79, ../sass/dpl/_table.scss */
    .table-auto table th {
        white-space: nowrap;
    }
    /* line 82, ../sass/dpl/_table.scss */
    .table-auto table td {
        white-space: nowrap;
    }
}

/* line 1, ../sass/dpl/_formgroup.scss */

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    cursor: pointer;
}

/* line 8, ../sass/dpl/_formgroup.scss */

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    /* outline: thin dotted; 
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; */
}

/* line 15, ../sass/dpl/_formgroup.scss */

.radio-group {
    margin-bottom: 9px;
}

/* line 17, ../sass/dpl/_formgroup.scss */

.radio-group label {
    font-weight: 400;
    cursor: pointer;
    max-width: 100%;
    margin-right: 12px;
}

/* line 22, ../sass/dpl/_formgroup.scss */

.radio-group label input[type="radio"],
.radio-group label input[type="checkbox"] {
    margin: 0 6px;
    position: relative;
    top: 2px;
}

/* line 29, ../sass/dpl/_formgroup.scss */

.radio-group small {
    vertical-align: bottom;
    color: #828282;
}

/* line 34, ../sass/dpl/_formgroup.scss */

.radio-group-style {
    margin-bottom: 25px;
}

/* line 36, ../sass/dpl/_formgroup.scss */

.radio-group-style label {
    margin-right: 12px;
    margin-bottom: 25px;
    cursor: pointer;
}

/* line 40, ../sass/dpl/_formgroup.scss */

.radio-group-style label i {
    width: 20px;
    height: 20px;
    background: url(../img/radios.png) no-repeat -63px -7px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    top: -2px;
}

/* line 48, ../sass/dpl/_formgroup.scss */

.radio-group-style label span {
    color: #CED6DD;
}

/* line 51, ../sass/dpl/_formgroup.scss */

.radio-group-style label input {
    display: none;
}

/* line 53, ../sass/dpl/_formgroup.scss */

.radio-group-style label input:checked+i {
    background-position: -15px -7px;
}

/* line 56, ../sass/dpl/_formgroup.scss */

.radio-group-style label input:checked+i+span {
    color: #fff;
}

/* line 62, ../sass/dpl/_formgroup.scss */

.radio-group-style-green {
    /* input{
  	display: none;
  	&:checked + i{
  		background-position: -6px -8px;
  	}
  	&:checked + i + span{
  		color: $yellow;
  	}
  } */
}

/* line 64, ../sass/dpl/_formgroup.scss */

.radio-group-style-green label i {
    background: url(../img/radios_green.png) no-repeat -63px -7px;
}

/* line 80, ../sass/dpl/_formgroup.scss */

.radio-group-style-yellow label i {
    background: url(../img/radios_yellow.png) no-repeat -63px -7px;
}

/* line 85, ../sass/dpl/_formgroup.scss */

.checkbox-group {
    margin-bottom: 9px;
}

/* line 87, ../sass/dpl/_formgroup.scss */

.checkbox-group label {
    padding-left: 20px;
    font-weight: 400;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 94, ../sass/dpl/_formgroup.scss */

.checkbox-group label input[type="radio"],
.checkbox-group label input[type="checkbox"] {
    margin-left: -16px;
    position: absolute;
    margin-top: 3px;
}

/* line 102, ../sass/dpl/_formgroup.scss */

.checkbox-group-style {
    margin-bottom: 25px;
}

/* line 104, ../sass/dpl/_formgroup.scss */

.checkbox-group-style label {
    margin-right: 12px;
    margin-bottom: 25px;
    cursor: pointer;
}

/* line 108, ../sass/dpl/_formgroup.scss */

.checkbox-group-style label i {
    width: 20px;
    height: 20px;
    background: url(../img/checkbox.png) no-repeat -58px -4px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    top: -1px;
}

/* line 116, ../sass/dpl/_formgroup.scss */

.checkbox-group-style label span {
    color: #fff;
}

/* line 119, ../sass/dpl/_formgroup.scss */

.checkbox-group-style label input {
    display: none;
    /* &:checked + i + span{
  	color: $yellow;
  } */
}

/* line 121, ../sass/dpl/_formgroup.scss */

.checkbox-group-style label input:checked+i {
    background-position: -19px -4px;
}

/* line 132, ../sass/dpl/_formgroup.scss */

.checkbox-group-style-yellow label i {
    background: url(../img/checkbox_yellow.png) no-repeat -58px -4px;
}

/* line 139, ../sass/dpl/_formgroup.scss */

.checkbox-group-style-default label i {
    background: url(../img/checkbox_normal.png) no-repeat -55px -4px;
}

/* line 143, ../sass/dpl/_formgroup.scss */

.checkbox-group-style-default label span {
    color: #CED6DD;
}

/* line 147, ../sass/dpl/_formgroup.scss */

.checkbox-group-style-default label input:checked+i+span {
    color: #fff;
}

/* line 155, ../sass/dpl/_formgroup.scss */

.radio-group-more label,
.checkbox-group-more label {
    margin-right: 16px;
}

/* line 12, ../sass/dpl/_width.scss */

.container {
    width: 1080px;
    margin: 0 auto;
}

/* line 15, ../sass/dpl/_width.scss */

.container::before,
.container::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 20, ../sass/dpl/_width.scss */

.container::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span1 {
    width: 8.33333%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span1::before,
.container .pc-span1::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span1::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span2 {
    width: 16.66667%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span2::before,
.container .pc-span2::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span2::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span3 {
    width: 25%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span3::before,
.container .pc-span3::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span3::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span4 {
    width: 33.33333%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span4::before,
.container .pc-span4::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span4::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span5 {
    width: 41.66667%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span5::before,
.container .pc-span5::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span5::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span6 {
    width: 50%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span6::before,
.container .pc-span6::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span6::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span7 {
    width: 58.33333%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span7::before,
.container .pc-span7::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span7::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span8 {
    width: 66.66667%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span8::before,
.container .pc-span8::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span8::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span9 {
    width: 75%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span9::before,
.container .pc-span9::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span9::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span10 {
    width: 83.33333%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span10::before,
.container .pc-span10::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span10::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span11 {
    width: 91.66667%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span11::before,
.container .pc-span11::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span11::after {
    clear: both;
}

/* line 24, ../sass/dpl/_width.scss */

.container .pc-span12 {
    width: 100%;
    float: left;
}

/* line 27, ../sass/dpl/_width.scss */

.container .pc-span12::before,
.container .pc-span12::after {
    content: '';
    display: table;
    line-height: 0;
}

/* line 32, ../sass/dpl/_width.scss */

.container .pc-span12::after {
    clear: both;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset1 {
    margin-left: 8.33333%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset2 {
    margin-left: 16.66667%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset3 {
    margin-left: 25%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset4 {
    margin-left: 33.33333%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset5 {
    margin-left: 41.66667%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset6 {
    margin-left: 50%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset7 {
    margin-left: 58.33333%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset8 {
    margin-left: 66.66667%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset9 {
    margin-left: 75%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset10 {
    margin-left: 83.33333%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset11 {
    margin-left: 91.66667%;
    float: left;
}

/* line 38, ../sass/dpl/_width.scss */

.container .pc-span-offset12 {
    margin-left: 100%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span1 {
    width: 10%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span2 {
    width: 18%;
    float: right;
}

/* line 71, ../sass/dpl/_width.scss */

.span3 {
    width: 30%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span4 {
    width: 40%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span5 {
    width: 50%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span6 {
    width: 60%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span7 {
    width: 70%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span8 {
    width: 82%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span9 {
    width: 90%;
    float: left;
}

/* line 71, ../sass/dpl/_width.scss */

.span10 {
    width: 100%;
    float: left;
}

/* line 1, ../sass/dpl/_img.scss */

img {
    border: 0;
    max-width: 100% !important;
    vertical-align: middle;
}

/* line 6, ../sass/dpl/_img.scss */

.img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

/* line 1, ../sass/dpl/_textarea.scss */

textarea {
    width: 100%;
    height: 130px;
    line-height: 40px\9;
    _line-height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #e3e4e8;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.5em;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/* line 14, ../sass/dpl/_textarea.scss */

textarea:focus {
    border-color: #8cc152;
    outline: 0;
    color: #2f2f2f;
}

/* line 1, ../sass/dpl/_triangle.scss */

.triangle-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #050505 transparent transparent transparent;
    line-height: 0px;
    _border-color: #050505 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 2px;
}

/* line 14, ../sass/dpl/_triangle.scss */

.triangle-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #050505 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #050505 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 2px;
}

/* line 38, ../sass/dpl/_triangle.scss */

.triangle-down-white {
    border-color: #ffffff transparent transparent transparent;
    _border-color: #ffffff #000000 #000000 #000000;
}

/* line 41, ../sass/dpl/_triangle.scss */

.triangle-down-yellow {
    border-color: #ff8e00 transparent transparent transparent;
    _border-color: #ff8e00 #000000 #000000 #000000;
}

/* line 44, ../sass/dpl/_triangle.scss */

.triangle-down-green {
    border-color: #85c51f transparent transparent transparent;
    _border-color: #85c51f #000000 #000000 #000000;
}

/* line 47, ../sass/dpl/_triangle.scss */

.triangle-down-gray {
    border-color: #aeaeae transparent transparent transparent;
    _border-color: #aeaeae #000000 #000000 #000000;
}

/* line 50, ../sass/dpl/_triangle.scss */

.triangle-down-md {
    border-width: 6px 6px 0 6px;
}

/* line 55, ../sass/dpl/_triangle.scss */

.triangle-up-white {
    border-color: transparent transparent #ffffff transparent;
    _border-color: #000000 #000000 #ffffff #000000;
}

/* line 58, ../sass/dpl/_triangle.scss */

.triangle-up-yellow {
    border-color: transparent transparent #ff8e00 transparent;
    _border-color: #000000 #000000 #ff8e00 #000000;
}

/* line 61, ../sass/dpl/_triangle.scss */

.triangle-up-green {
    border-color: transparent transparent #85c51f transparent;
    _border-color: #000000 #000000 #85c51f #000000;
}

/* line 64, ../sass/dpl/_triangle.scss */

.triangle-up-gray {
    border-color: transparent transparent #aeaeae transparent;
    _border-color: #000000 #000000 #aeaeae #000000;
}

/* line 67, ../sass/dpl/_triangle.scss */

.triangle-up-md {
    border-width: 0 6px 6px 6px;
}

/* line 3, ../sass/dpl/_progressbar.scss */

.progress {
    width: 100%;
    height: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    background: #f5f5f5;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

/* line 11, ../sass/dpl/_progressbar.scss */

.progress .progress-bar {
    position: absolute;
    width: 69%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f4aa28;
}

/* line 19, ../sass/dpl/_progressbar.scss */

.progress .active {
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    animation: progress_bar 2s linear 0s infinite normal;
    -webkit-animation: progress_bar 2s linear 0s infinite normal;
    -moz-animation: progress_bar 2s linear 0s infinite normal;
    -o-animation: progress_bar 2s linear 0s infinite normal;
}

@keyframes progress_bar {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

@-webkit-keyframes progress_bar {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

@-moz-keyframes progress_bar {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

@-o-keyframes progress_bar {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

/* line 1, ../sass/dpl/_page.scss */

.package-num {
    padding: 60px 0 0;
    margin-bottom: 17px;
    width: 100%;
    text-align: center;
}

/* line 6, ../sass/dpl/_page.scss */

.package-num .num-active {
    background: #8d9199;
    color: #fff;
}

/* line 10, ../sass/dpl/_page.scss */

.package-num .first,
.package-num .last {
    width: 40px;
    color: #fff;
    background: #d12f33;
}

/* line 14, ../sass/dpl/_page.scss */

.package-num .first:hover,
.package-num .last:hover {
    background: #d12f33;
}

/* line 18, ../sass/dpl/_page.scss */

.package-num a {
    display: inline-block;
    width: 28px;
    height: 25px;
    border-radius: 5px;
    color: #878787;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    background: #d9dbe0;
}

/* line 28, ../sass/dpl/_page.scss */

.package-num a.pre,
.package-num a.next {
    color: #fff;
    background: #d12f33;
    padding: 8px 6px 0 7px;
    vertical-align: top;
}

/* line 35, ../sass/dpl/_page.scss */

.package-num a.pre .arrow-pre {
    display: inline-block;
    float: left;
    height: 16px;
}

/* line 39, ../sass/dpl/_page.scss */

.package-num a.pre .arrow-pre .pre1 {
    border-width: 4px;
    border-color: transparent #fff transparent transparent;
}

/* line 43, ../sass/dpl/_page.scss */

.package-num a.pre .arrow-pre .pre2 {
    border-width: 4px;
    border-color: transparent #d12f33 transparent transparent;
    position: relative;
    top: -8px;
    left: 2px;
}

/* line 50, ../sass/dpl/_page.scss */

.package-num a.pre .arrow-pre .pre1,
.package-num a.pre .arrow-pre .pre2 {
    border-style: dashed solid dashed dashed;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/* line 60, ../sass/dpl/_page.scss */

.package-num a.pre:hover {
    background: #bc2a2e;
}

/* line 62, ../sass/dpl/_page.scss */

.package-num a.pre:hover .pre2 {
    border-color: transparent #d12f33 transparent transparent;
}

/* line 68, ../sass/dpl/_page.scss */

.package-num a.next .arrow-next {
    display: inline-block;
    float: right;
    height: 16px;
}

/* line 72, ../sass/dpl/_page.scss */

.package-num a.next .arrow-next .next1 {
    border-width: 4px;
    border-color: transparent transparent transparent #fff;
}

/* line 76, ../sass/dpl/_page.scss */

.package-num a.next .arrow-next .next2 {
    border-width: 4px;
    border-color: transparent transparent transparent #d12f33;
    position: relative;
    top: -8px;
    left: -2px;
}

/* line 83, ../sass/dpl/_page.scss */

.package-num a.next .arrow-next .next1,
.package-num a.next .arrow-next .next2 {
    border-style: dashed dashed dashed solid;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/* line 92, ../sass/dpl/_page.scss */

.package-num a.next:hover {
    background: #bc2a2e;
}

/* line 94, ../sass/dpl/_page.scss */

.package-num a.next:hover .next2 {
    border-color: transparent transparent transparent #d12f33;
}

/* line 99, ../sass/dpl/_page.scss */

.package-num a.num:hover {
    background: #d12f33;
    color: #fff;
}

/* line 103, ../sass/dpl/_page.scss */

.package-num a.etc {
    background: none;
}

/* line 65, ../sass/_dpl.scss */

.last-margin-right-0 {
    margin-right: 0 !important;
}

/* line 68, ../sass/_dpl.scss */

.last-margin-bottom-0 {
    margin-bottom: 0 !important;
}

/* line 72, ../sass/_dpl.scss */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 79, ../sass/_dpl.scss */

*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 84, ../sass/_dpl.scss */

a {
    text-decoration: none;
    cursor: pointer;
}

/* line 88, ../sass/_dpl.scss */

ol,
ul,
li {
    list-style: none;
    list-style-type: none;
}

/* line 92, ../sass/_dpl.scss */

body {
    font-family: microsoft yahei, tahoma, arial, \5b8b\4f53, sans-serif;
    overflow-x: hidden;
    background-color: #f6f6f6;
}

/* line 98, ../sass/_dpl.scss */

.clearfix {
    *zoom: 1;
}

/* line 101, ../sass/_dpl.scss */

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

/* line 107, ../sass/_dpl.scss */

.clearfix:after {
    clear: both;
}

/* line 110, ../sass/_dpl.scss */

.float-right {
    float: right;
}

/* line 113, ../sass/_dpl.scss */

.float-left {
    float: left;
}

/* line 116, ../sass/_dpl.scss */

:root .ie9-input {
    filter: none !important;
}

/* line 1, ../sass/_styleHeader.scss */

header {
    width: 100%;
    /* background-color: #fff; */
}

/* line 4, ../sass/_styleHeader.scss */

header .bg {
    width: 100%;
    height: 210px;
    background: url("../img/news/background.png") top center no-repeat;
}

header .bg .header-title {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 0 10px 10px;
}

/* line 11, ../sass/_styleHeader.scss */

header .bg .ksl-name {
    margin: 16px 600px 0 60px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
}

/* line 17, ../sass/_styleHeader.scss */

header .bg .ksl-name p {
    font-size: 28px;
    color: #d12f33;
    margin: 0;
}

/* line 22, ../sass/_styleHeader.scss */

header .bg .ksl-name .dots-left {
    display: block;
    position: relative;
    top: 17px;
    left: 20px;
    width: 6px;
    height: 6px;
    background-color: #d12f33;
    border-radius: 3px;
}

/* line 32, ../sass/_styleHeader.scss */

header .bg .ksl-name .dots-right {
    display: block;
    position: relative;
    top: -17px;
    left: 340px;
    width: 6px;
    height: 6px;
    background-color: #d12f33;
    border-radius: 3px;
}

/* line 44, ../sass/_styleHeader.scss */

header .nav {
    background-color: #d12f33;
    height: 50px;
    width: 1080px;
    line-height: 50px;
}

/* line 50, ../sass/_styleHeader.scss */

header .nav ul li {
    float: left;
    font-size: 16px;
    color: #fff;
    width: 90px;
    text-align: center;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 58, ../sass/_styleHeader.scss */

header .nav ul li:first-child {
    border-left: 0;
}

/* line 61, ../sass/_styleHeader.scss */

header .nav ul li a {
    display: block;
    color: #fff;
}

/* line 65, ../sass/_styleHeader.scss */

header .nav ul li a:hover {
    background: #bc2a2e;
}

/* line 68, ../sass/_styleHeader.scss */

header .nav ul li ul {
    display: none;
    position: absolute;
    top: 45px;
    margin-left: -25px;
    width: 142px;
    line-height: 40px;
    z-index: 3;
}

/* line 77, ../sass/_styleHeader.scss */

header .nav ul li ul li {
    float: none;
    background: #d12f33;
    width: 142px;
    border: 1px solid;
}

header .nav ul li ul li:first-child {
    background: #d12f33;
}

/* line 86, ../sass/_styleHeader.scss */

header .nav ul li:hover ul {
    display: block;
}

/* line 92, ../sass/_styleHeader.scss */

header .nav-green {
    background-color: #01acc8;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

/* line 98, ../sass/_styleHeader.scss */

header .nav-green ul li {
    float: left;
    font-size: 16px;
    color: #fff;
    width: 92px;
    text-align: center;
    position: relative;
    border-left: 1px solid;
}

/* line 106, ../sass/_styleHeader.scss */

header .nav-green ul li:first-child {
    border-left: 0;
}

/* line 109, ../sass/_styleHeader.scss */

header .nav-green ul li a {
    display: block;
    color: #fff;
}

/* line 113, ../sass/_styleHeader.scss */

header .nav-green ul li a:hover {
    background: #0192aa;
}

/* line 116, ../sass/_styleHeader.scss */

header .nav-green ul li ul {
    display: none;
    position: absolute;
    top: 45px;
    margin-left: -25px;
    width: 142px;
    line-height: 40px;
    z-index: 3;
}

/* line 125, ../sass/_styleHeader.scss */

header .nav-green ul li ul li {
    float: none;
    background: #01acc8;
    width: 142px;
    border: 1px solid;
}

/* line 134, ../sass/_styleHeader.scss */

header .nav-green ul li:hover ul {
    display: block;
}

/* line 140, ../sass/_styleHeader.scss */

header .nav-ksblue {
    background-color: #d12f33;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

/* line 146, ../sass/_styleHeader.scss */

header .nav-ksblue ul li {
    float: left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-left: 1px solid;
}

/* line 152, ../sass/_styleHeader.scss */

header .nav-ksblue ul li:first-child {
    border-left: 0;
}

/* line 155, ../sass/_styleHeader.scss */

header .nav-ksblue ul li a {
    display: block;
    padding: 0 10px;
    color: #fff;
}

/* line 160, ../sass/_styleHeader.scss */

header .nav-ksblue ul li a:hover {
    background: #2155a2;
}

/* line 2, ../sass/_footer.scss */

footer .us {
    text-align: center;
    padding: 20px;
}

/* line 5, ../sass/_footer.scss */

footer .us span {
    display: inline-block;
}

/* line 7, ../sass/_footer.scss */

footer .us span i {
    position: absolute;
}

/* line 10, ../sass/_footer.scss */

footer .us span a {
    display: inline-block;
    padding: 0 50px 0 30px;
}

/* line 16, ../sass/_footer.scss */

footer .footer-info {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #d12f33;
    color: #fff;
    font-size: 14px;
}

/* line 23, ../sass/_footer.scss */

footer .footer-info a {
    color: #fff;
}

/* line 26, ../sass/_footer.scss */

footer .footer-info .portal {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

/* line 30, ../sass/_footer.scss */

footer .footer-info .portal a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

/* line 36, ../sass/_footer.scss */

footer .footer-info span {
    display: inline-block;
}

/* line 1, ../sass/_news.scss */

.location {
    font-size: 14px;
    padding: 20px 0;
    color: #333;
}

/* line 5, ../sass/_news.scss */

.location i {
    position: absolute;
}

/* line 8, ../sass/_news.scss */

.location span {
    display: inline-block;
    margin-left: 25px;
}

/* line 12, ../sass/_news.scss */

.location .cur {
    color: #d12f33;
}

/* line 16, ../sass/_news.scss */

.title {
    width: 150px;
    text-align: center;
    background: #fff;
    font-size: 18px;
    padding: 10px 20px;
    color: #d12f33;
    margin-bottom: 20px;
}

/* line 26, ../sass/_news.scss */

.aisle a {
    display: block;
}

/* line 29, ../sass/_news.scss */

.aisle img {
    margin-top: 20px;
}

/* line 33, ../sass/_news.scss */

.hide {
    display: none;
}

/* line 37, ../sass/_news.scss */

.news {
    margin-bottom: 20px;
}

/* line 39, ../sass/_news.scss */

.news .news-list {
    border-radius: 2px;
    background: #fff;
    margin-right: 15px;
    padding: 20px 40px;
}

/* line 44, ../sass/_news.scss */

.news .news-list li {
    height: 50px;
    line-height: 50px;
    border-bottom: #ccc dotted 1px;
    position: relative;
}

/* line 47, ../sass/_news.scss */

.news .news-list li a {
    display: block;
    width: 666px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    float: left;
}

/* line 51, ../sass/_news.scss */

.news .news-list li span {
    display: inline-block;
    float: right;
    color: #666;
    font-size: 14px;
    position: absolute;
    right: 0;
}

/* line 58, ../sass/_news.scss */

.news .new-nav {
    border-radius: 2px;
    background: #fff;
    padding: 20px 10px 10px;
}

/* line 62, ../sass/_news.scss */

.news .new-nav h3 {
    border-left: 5px solid #d12f33;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
}

/* line 67, ../sass/_news.scss */

.news .new-nav ul {
    padding: 10px 15px;
}

/* line 69, ../sass/_news.scss */

.news .new-nav ul li {
    height: 37px;
    line-height: 26px;
}

/* line 72, ../sass/_news.scss */

.news .new-nav ul li a {
    display: inline-block;
    color: #666;
}

/* line 75, ../sass/_news.scss */

.news .new-nav ul li a:hover {
    color: #d12f33;
}

/* line 83, ../sass/_news.scss */

.news .aisle a {
    display: block;
}

/* line 86, ../sass/_news.scss */

.news .aisle img {
    margin-top: 20px;
}

/* line 90, ../sass/_news.scss */

.news .news-detail {
    width: 100%;
    background: #fff;
    padding: 40px 70px;
    border-radius: 5px;
}

/* line 95, ../sass/_news.scss */

.news .news-detail h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* line 101, ../sass/_news.scss */

.news .news-detail .fabu {
    color: #666;
    font-size: 14px;
    text-align: center;
}

/* line 106, ../sass/_news.scss */

.news .news-detail .content-detail {
    margin-top: 30px;
    text-indent: 2em;
    line-height: 35px;
}

/* line 108, ../sass/_news.scss */

.news .news-detail .content-detail p {
    line-height: 25px;
}

/* line 116, ../sass/_news.scss */

.news .bottom-detail {
    padding: 20px 0 0 0;
}

/* line 118, ../sass/_news.scss */

.news .bottom-detail li {
    line-height: 30px;
}

.news .bottom-detail li a {
    color: #d12f33;
    display: inline-block;
    margin-right: 20px;
}

/* line 124, ../sass/_news.scss */

.reserve {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}

/* line 129, ../sass/_news.scss */

.reserve table {
    width: 100%;
}

/* line 132, ../sass/_news.scss */

.reserve table tr th:first-child {
    width: 200px;
}

/* line 139, ../sass/_news.scss */

.leader-list {
    border-radius: 5px;
    background: #fff;
    margin-right: 30px;
    padding: 20px;
}

/* line 144, ../sass/_news.scss */

.leader-list .leader-Detail {
    padding: 25px 10px 20px;
    border-bottom: 1px dotted #d12f33;
}

/* line 147, ../sass/_news.scss */

.leader-list .leader-Detail:last-child {
    border: 0;
}

/* line 150, ../sass/_news.scss */

.leader-list .leader-Detail img {
    width: 100px;
    height: 130px;
    vertical-align: middle;
}

/* line 155, ../sass/_news.scss */

.leader-list .leader-Detail .introduction {
    width: 80%;
    padding-left: 20px;
}

/* line 158, ../sass/_news.scss */

.leader-list .leader-Detail .introduction .intro {
    margin-top: 20px;
    text-indent: 2em;
    line-height: 20px;
}

/* line 162, ../sass/_news.scss */

.leader-list .leader-Detail .introduction .intro a {
    display: inline-block;
    float: right;
}

/* line 173, ../sass/_news.scss */

.main-detail {
    margin-right: 30px;
    background: #fff;
    padding: 40px 40px;
    border-radius: 5px;
}

/* line 178, ../sass/_news.scss */

.main-detail h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* line 184, ../sass/_news.scss */

.main-detail .fabu {
    color: #666;
    font-size: 14px;
    text-align: center;
}

/* line 189, ../sass/_news.scss */

.main-detail .content-detail {
    margin-top: 30px;
}

/* line 191, ../sass/_news.scss */

.main-detail .content-detail p {
    text-indent: 2em;
    line-height: 25px;
}

/* line 199, ../sass/_news.scss */

.main-detail .nav-tab {
    width: 100%;
}

/* line 201, ../sass/_news.scss */

.main-detail .nav-tab li {
    float: left;
    width: 33%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #eee;
    color: #333;
    border-right: 1px solid #fff;
}

/* line 210, ../sass/_news.scss */

.main-detail .nav-tab li a {
    color: #333;
    border-right: 1px solid #fff;
}

/* line 215, ../sass/_news.scss */

.main-detail .nav-tab .active {
    background: #d12f33;
    color: #fff;
}

/* line 218, ../sass/_news.scss */

.main-detail .nav-tab .active a {
    background: #d12f33;
    color: #fff;
}

/* line 224, ../sass/_news.scss */

.main-detail .tab-content {
    margin-top: 20px;
}

/* line 229, ../sass/_news.scss */

.departs-list {
    border-radius: 5px;
    background: #fff;
    margin-right: 30px;
    padding: 20px 30px;
}

/* line 234, ../sass/_news.scss */

.departs-list a {
    display: inline-block;
}

/* line 237, ../sass/_news.scss */

.departs-list span {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    color: #666;
    font-size: 16px;
}

/* line 248, ../sass/_news.scss */

.department-info-container .span8 {
    background: #fff;
    width: 76%;
}

/* line 251, ../sass/_news.scss */

.department-info-container .span8 .department-list {
    padding: 15px 60px 15px 30px;
}

/* line 253, ../sass/_news.scss */

.department-info-container .span8 .department-list .title {
    width: auto;
    text-align: left;
    padding: 0;
}

/* line 258, ../sass/_news.scss */

.department-info-container .span8 .department-list .list {
    line-height: 26px;
}

/* line 260, ../sass/_news.scss */

.department-info-container .span8 .department-list .list a {
    font-size: 14px;
    color: #333;
    margin-right: 15px;
    margin-bottom: 23px;
    white-space: nowrap;
}

/* line 266, ../sass/_news.scss */

.department-info-container .span8 .department-list .list a:hover {
    color: #d12f33;
}

/* line 273, ../sass/_news.scss */

.department-info-container .span2 {
    float: right;
}

/* line 275, ../sass/_news.scss */

.department-info-container .span2 .info-nav {
    background: #fff;
    padding: 15px;
    margin-bottom: 17px;
}

/* line 279, ../sass/_news.scss */

.department-info-container .span2 .info-nav a {
    color: #d12f33;
    line-height: 30px;
}

/* line 285, ../sass/_news.scss */

.department-info-container .span2 .aisle a {
    display: block;
}

/* line 288, ../sass/_news.scss */

.department-info-container .span2 .aisle img {
    margin-top: 20px;
}

/* line 297, ../sass/_news.scss */

.special-info-container .span8 {
    background: #fff;
    width: 76%;
}

/* line 300, ../sass/_news.scss */

.special-info-container .span8 .special-list {
    padding: 20px 30px;
}

/* line 302, ../sass/_news.scss */

.special-info-container .span8 .special-list .title {
    width: auto;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
}

/* line 308, ../sass/_news.scss */

.special-info-container .span8 .special-list .list {
    width: 25%;
    float: left;
}

/* line 311, ../sass/_news.scss */

.special-info-container .span8 .special-list .list p {
    font-size: 16px;
    color: #d12f33;
    margin-top: 15px;
}

/* line 316, ../sass/_news.scss */

.special-info-container .span8 .special-list .list span {
    padding-left: 9px;
    font-size: 14px;
    position: relative;
    color: #666;
}

/* line 321, ../sass/_news.scss */

.special-info-container .span8 .special-list .list span i {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background: #d12f33;
    top: 6px;
    left: -2px;
}

/* line 331, ../sass/_news.scss */

.special-info-container .span8 .special-list .list span:hover {
    color: #d12f33;
    cursor: pointer;
}

/* line 339, ../sass/_news.scss */

.special-info-container .span2 {
    float: right;
}

/* line 341, ../sass/_news.scss */

.special-info-container .span2 .info-nav {
    background: #fff;
    padding: 15px;
    margin-bottom: 17px;
}

/* line 345, ../sass/_news.scss */

.special-info-container .span2 .info-nav a {
    color: #d12f33;
    line-height: 30px;
}

/* line 351, ../sass/_news.scss */

.special-info-container .span2 .aisle a {
    display: block;
}

/* line 354, ../sass/_news.scss */

.special-info-container .span2 .aisle img {
    margin-top: 20px;
}

/* line 364, ../sass/_news.scss */

.onepage2 {
    background: #fff;
    background-image: url(../img/onepage_bg.gif) !important;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* line 369, ../sass/_news.scss */

.onepage2 .onepage1 {
    padding: 50px 50px 20px 50px;
    background-image: url(../img/onepage_title.gif) !important;
    background-repeat: repeat-x;
    background-position: left top;
    border: 1px solid #CCC;
    text-align: center;
}

/* line 376, ../sass/_news.scss */

.onepage2 .onepage1 h1 {
    margin-bottom: 30px;
    text-align: center;
}

/* line 380, ../sass/_news.scss */

.onepage2 .onepage1 .content-paper {
    float: left;
    width: 20%;
    margin-bottom: 20px;
    text-align: center;
}

/* line 385, ../sass/_news.scss */

.onepage2 .onepage1 .content-paper p {
    padding: 10px;
}

/* line 389, ../sass/_news.scss */

.onepage2 .onepage1 .net-paper {
    float: left;
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
}

/* line 395, ../sass/_news.scss */

.onepage2 .onepage1 .ahref {
    position: relative;
    bottom: 200px;
}

/* line 398, ../sass/_news.scss */

.onepage2 .onepage1 .ahref a {
    display: inline-block;
    float: left;
    width: 50%;
    height: 50px;
}

/* line 408, ../sass/_news.scss */

.bottom-search {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

/* line 414, ../sass/_news.scss */

.bottom-search .oh {
    overflow: hidden;
    position: relative;
}

/* line 417, ../sass/_news.scss */

.bottom-search .oh label {
    color: #d12f33;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

/* line 423, ../sass/_news.scss */

.bottom-search .oh input[type="text"] {
    outline: none;
}

/* line 426, ../sass/_news.scss */

.bottom-search .oh .search-input {
    margin-left: 20px;
    font-size: 14px;
    padding: 6px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #ccc;
}

/* line 434, ../sass/_news.scss */

.bottom-search .oh .search-input:focus {
    border: 2px solid #d12f33;
}

/* line 438, ../sass/_news.scss */

.bottom-search .oh button {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 2px;
    border: 0;
}

/* line 448, ../sass/_news.scss */

.bottom-search .sf-param {
    font-size: 14px;
    margin-left: 30px;
}

/* line 451, ../sass/_news.scss */

.bottom-search .sf-param span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #d12f33;
}

/* line 457, ../sass/_news.scss */

.bottom-search .sf-param span select {
    margin: 0;
    cursor: pointer;
    outline: none;
    font-weight: normal;
    width: 270px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #333;
    background: #fff;
    border: 2px solid #cccccc;
}

/* line 469, ../sass/_news.scss */

.bottom-search .sf-param span select:focus {
    border: 2px solid #d12f33;
}

/* line 2, ../sass/_selection.scss */

.selection-contain {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

/* line 7, ../sass/_selection.scss */

.selection-contain .selection-title {
    width: 961px;
    height: 70px;
    padding-top: 20px;
    color: #d12f33;
    font-size: 16px;
    text-align: center;
}

/* line 15, ../sass/_selection.scss */

.selection-contain .selection-header {
    width: 961px;
    height: 60px;
    margin-top: 5px;
}

/* line 19, ../sass/_selection.scss */

.selection-contain .selection-header .contain-photo {
    width: 151px;
    height: 38px;
    float: left;
    background-color: #FFFFFF;
    margin: 10px 15px 10px 30px;
}

/* line 25, ../sass/_selection.scss */

.selection-contain .selection-header .contain-photo .contain-photo img {
    position: relative;
    /*//top: 10px;*/
}

/* line 29, ../sass/_selection.scss */

.selection-contain .selection-header .contain-photo .contain-photo span {
    color: #d12f33;
    font-size: 14px;
    position: relative;
    left: -15px;
    top: 3px;
}

/* line 37, ../sass/_selection.scss */

.selection-contain .selection-header .contain-input {
    float: left;
    width: 135px;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    margin: 15px 8px;
}

/* line 45, ../sass/_selection.scss */

.selection-contain .selection-header .contain-button {
    height: 28px;
    width: 75px;
    background-color: #d12f33;
    color: #FFFFFF;
    font-size: 12px;
    /*padding-top: 8px;*/
    margin-top: 16px;
    border: 0;
}

/* line 56, ../sass/_selection.scss */

.selection-contain .table {
    width: 100%;
}

/* line 58, ../sass/_selection.scss */

.selection-contain .table thead {
    background-color: #d12f33;
    color: #fff;
}

/* line 62, ../sass/_selection.scss */

.selection-contain .table .tr-blue {
    background-color: #edf2f8;
}

/* line 65, ../sass/_selection.scss */

.selection-contain .table .tr-gray {
    background-color: #f7faff;
}

/* line 4, ../sass/_sysList.scss */

.questions .ques-list {
    border-top: 2px solid #d12f33;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 20px 0;
    background-color: #fff;
}

/* line 10, ../sass/_sysList.scss */

.questions .ques-list li {
    position: relative;
    padding: 15px;
    border-top: 1px dotted #ccc;
}

/* line 14, ../sass/_sysList.scss */

.questions .ques-list li:first-child {
    border-top: 0;
}

/* line 17, ../sass/_sysList.scss */

.questions .ques-list li i {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background: #f29149;
    top: 23px;
    left: 5px;
}

/* line 26, ../sass/_sysList.scss */

.questions .ques-list li a {
    color: #252525;
}

/* line 28, ../sass/_sysList.scss */

.questions .ques-list li a:hover {
    color: #d12f33;
}

/* line 32, ../sass/_sysList.scss */

.questions .ques-list li .float-right {
    padding: 2px;
    color: #a1a1a1;
}

/* line 39, ../sass/_sysList.scss */

.question {
    border-top: 2px solid #f29149;
    background-color: #fff;
}

/* line 42, ../sass/_sysList.scss */

.question form {
    padding: 0 30px;
}

/* line 44, ../sass/_sysList.scss */

.question form .ques-title {
    margin: 30px 0 0 0;
    padding: 0 20px;
    font-size: 28px;
}

/* line 49, ../sass/_sysList.scss */

.question form .ques-status {
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
}

/* line 53, ../sass/_sysList.scss */

.question form .ques-content {
    padding: 10px 20px;
}

/* line 55, ../sass/_sysList.scss */

.question form .ques-content .error {
    color: red;
    font-style: normal;
    padding-left: 10px;
}

/* line 60, ../sass/_sysList.scss */

.question form .ques-content ul {
    padding-left: 24px;
    color: #666;
}

/* line 63, ../sass/_sysList.scss */

.question form .ques-content ul li {
    padding: 5px 0;
}

/* line 68, ../sass/_sysList.scss */

.question form .ques-btn {
    padding: 25px 0 20px 0;
    text-align: center;
}

/* line 71, ../sass/_sysList.scss */

.question form .ques-btn .result {
    color: #252525;
}

/* line 73, ../sass/_sysList.scss */

.question form .ques-btn .result:hover {
    color: #f29149;
}

/* line 82, ../sass/_sysList.scss */

.guestbook-content {
    padding: 30px 0;
}

/* line 85, ../sass/_sysList.scss */

.msg-status {
    padding: 3px 15px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #e7e7e7;
}

/* line 93, ../sass/_sysList.scss */

.msg-status-curr {
    color: #fff;
    background-color: #993333;
}

/* line 97, ../sass/_sysList.scss */

.msg-type {
    color: #333;
    margin: 0 5px;
}

/* line 101, ../sass/_sysList.scss */

.msg-type-curr {
    color: #cc3333;
}

/* line 104, ../sass/_sysList.scss */

.reply {
    color: #fff;
    background-color: #993333;
    padding: 3px 5px;
}

/* line 109, ../sass/_sysList.scss */

.unreply {
    color: #fff;
    background-color: #858181;
    padding: 3px 5px;
}

/* line 114, ../sass/_sysList.scss */

.form-item {
    margin-top: 20px;
}

/* line 117, ../sass/_sysList.scss */

.form-label {
    float: left;
    padding-right: 30px;
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

/* line 125, ../sass/_sysList.scss */

.form-input {
    float: left;
}

/* line 1, ../sass/_listhealthy.scss */

.news-list-healthy {
    background: #fff;
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #eee;
}

/* line 7, ../sass/_listhealthy.scss */

.news-list-healthy h3 {
    border-left: 5px solid #d12f33;
    padding-left: 10px;
    color: #d12f33;
}

/* line 11, ../sass/_listhealthy.scss */

.news-list-healthy h3 .more {
    float: right;
    font-size: 12px;
    color: #d12f33;
}

/* line 17, ../sass/_listhealthy.scss */

.news-list-healthy li {
    height: 40px;
    line-height: 40px;
}

/* line 20, ../sass/_listhealthy.scss */

.news-list-healthy li a {
    display: inline-block;
    width: 100%;
    color: #666;
}

/* line 24, ../sass/_listhealthy.scss */

.news-list-healthy li a span {
    display: inline-block;
    float: right;
    color: #999;
}